@media (max-width: 767px) {
  .animate-fadein-on-scroll {
    opacity: 1 !important;
    animation: fadeInUp 1s ease-out forwards;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
